@import '../styles/base';

.QP__attributes-metrics-area{
  width: 100%;
  height: 27%;
  min-height: 192px;
  justify-content: space-between;
  display: flex;

  .QP__attributes-metrics-container{
    width: calc(50% - 8px);

    .QP__attributes-metrics-area__list{
      border: $wsvi-border-gray 1px solid;
      border-radius: 2px;
      height: calc(100% - 26px);
      background: #fff;
    }
  }
}